{% extends 'base.html.twig' %}

{% block title %}My Shopping Cart{% endblock %}

{% block shoppingcart %} {% endblock %}

{% block body %}

    <div class = "jumbotron text-center">
        <h1 class = "text-success">My Shopping Cart</h1>

        {% if shoppingcart is defined %}
            {% for item in shoppingcart %}

                <p class = "lead">{{  item }} </p>
                <br>

            {% endfor %}

            <a type="submit" id="btn-pay" class="btn btn-success" href="{{ path('user_pay') }}">Pay Order</a>

        {% endif %}

        {% if shoppingcart is not defined %}
        <p class = "lead text-danger">Your shopping Cart is empty.</p>
        {% endif %}

    </div>
{% endblock %}
